@import 'reset-css/sass/_reset';

@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background-color: #fff;
    background-image: url('/background.png');
    background-position-x: left;
    background-position-y: top;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5vh;
}